<p>Welcome <%= user.name %>,</p>

<p>Your payment for your first month of Hacklab is now due, I'd recommend signing up for <a href="https://hacklab.to/membership/">automated payment</a> right now so you never have to worry about payments again.</p>

<p>Thank you for making Hacklab more awesome!</p>
