<p>Hi <%= user.name %>,</p>

<p>Hacklab received your payment of <%= payment.amount %> by <%= payment.method %><br />
Your next due date is: <strong><%= user.nextDuedate %></strong></p>

<p>Thank you for making Hacklab more awesome!</p>
